<!DOCTYPE html>
<!-- saved from url=(0054)file:///home/andy/Desktop/books-page/shpp-library.html -->
<html lang="ru">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>shpp-library</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="library Sh++">
    <link rel="stylesheet" href="./books-page/libs.min.css">
    <link rel="stylesheet" href="./books-page/style.css">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" crossorigin="anonymous"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!--<link rel="shortcut icon" href="http://localhost:3000/favicon.ico">-->
    <style>
    	.details {
			display: inline-block;
        }
    </style>
</head>

<body data-gr-c-s-loaded="true" class="">

    <section id="header" class="header-wrapper">
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="col-xs-5 col-sm-2 col-md-2 col-lg-2">
                    <div id="logout" class="logo"><a href="http://localhost:3000/" class="navbar-brand"><span class="sh">Ш</span><span class="plus">++</span></a></div>
                </div>
                <div class="col-xs-12 col-sm-7 col-md-8 col-lg-8">
                    <div class="main-menu">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <form  action='/' mehtod='GET' class="navbar-form navbar-right">
                                <div class="form-group">
                                    <!--search request with form-->
                                    <input type="text" id="search" name="search" placeholder="найти книгу" class="form-control">

                                        <div class="loader"><img src="./books-page/loading.gif"></div>
                                    <div id="list" size="" class="bAutoComplete mSearchAutoComplete"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-xs-2 col-sm-3 col-md-2 col-lg-2 hidden-xs">
                    <div class="social"><a href="https://www.facebook.com/shpp.kr/" target="_blank"><span class="fa-stack fa-sm"><i class="fa fa-facebook fa-stack-1x"></i></span></a><a href="http://programming.kr.ua/ru/courses#faq" target="_blank"><span class="fa-stack fa-sm"><i class="fa fa-book fa-stack-1x"></i></span></a>
                    <button id="logout" style="background:none; border:none">logout</button></div>
                    <script>
                        $("#logout").on("click", ()=>{
                            jQuery.ajax({
                                type: "GET",
                                url: "http://localhost:3000/admin",
                                async:"false",
                                username:"logmeout",
                                password: "Please log me out",
                                headers: {"Authorization": "Basic xxx"}
                            })
                            .done(()=>{
                                console.log("Logged out")
                            })
                            .fail(()=>{
                                window.location = "http://localhost:3000"
                            })
                        })
                    </script>
                </div>
            </div>
        </nav>
    </section>

    <section id="main" class="main-wrapper">
      <div class="container py-5">
        <div class="row">
            <!-- Table Section -->
            <div class="col-lg-8">
               
                <table class="table table-striped table-bordered table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th>Title</th>
                            <th>Author</th>
                            <th>Published Year</th>
                            <th>Actions</th>
                            <th>Clicks</th>
                        </tr>
                    </thead>
                    <tbody>

                    <%
                    const books = allBooks

                    for(let i =0; i < books.length; i++){ 
                    const id = books[i].id
                    const clicks = books[i].clicks || 0
                    let author
                    if(version == 'v1'){
                        author  = books[i].author || ''
                    }else if(version == 'v2'){
                        author  = ''
                    }
                    const year = books[i].year || ''
                    const title = books[i].title || ''
                    %>
                        <tr>
                            <td><%=title%></td>
                            <td><%=author%></td>
                            <td><%=year%></td>
                            <td>
                                <a id="deleteBook<%=id%>" class="btn btn-sm btn-danger">Delete</a>
                            </td>
                            <td><%=clicks%></td>
                        </tr>
                        <script>
                            $('#deleteBook<%=id%>').on('click', async()=>{
                                await fetch("http://localhost:3000/admin",{
                                    method:"DELETE",
                                    headers:{
                                        "Content-Type": 'application/json',
                                    },
                                    body: JSON.stringify({deleteId: '<%=id%>'})
                                })
                            })
                        </script>
                    <%}%>
                        
                    </tbody>
                </table>
                <nav>
        <ul class="pagination">
           <%
           for(let i = 0; i < pages; i++){
           %>
            <li class="page-item"><a class="page-link" id="page<%=i+1%>"><%=i+1%></a></li>

            <script>
                $('#page<%=i+1%>').on('click', async()=>
                {
                    await fetch("http://localhost:3000/admin",{
                        method:"POST",
                        headers:{
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({page:'<%=i+1%>'})
                    }).then(()=>window.location.reload())

                })


            </script>

            <%
           }
            %>
            
        </ul>
    </nav>
            </div>

            <!-- Add Book Menu -->
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <h5 class="card-title mb-0">Add a New Book</h5>
                    </div>
                    <div class="card-body">
                        <form id="addBookForm">
                            <div class="mb-3">
                                <label for="file-input" class="form-label">Upload cover</label>
                                <input name="image" type="file" id="file-input" multiple hidden>
                            </div>
                            <div class="mb-3">
                                <label for="title" class="form-label">Title</label>
                                <input type="text" id="title" class="form-control" placeholder="Enter book title" required />
                            </div>
                            <div class="mb-3">
                                <label for="author1" class="form-label">Author1</label>
                                <input type="text" id="author1" class="form-control" placeholder="Enter author name" required />
                            </div>
                            <div class="mb-3">
                                <label for="author2" class="form-label">Author2</label>
                                <input type="text" id="author2" class="form-control" placeholder="Enter author name"/>
                            </div>
                            <div class="mb-3">
                                <label for="author" class="form-label">Author3</label>
                                <input type="text" id="author" class="form-control" placeholder="Enter author name"/>
                            </div>
                            <div class="mb-3">
                                <label for="published" class="form-label">Published Year</label>
                                <input type="number" id="published" class="form-control" placeholder="Enter year" required />
                            </div>
                            <button type="submit" class="btn btn-success w-100">Add Book</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script>
            
            $("#addBookForm").on('submit', async (e)=>{
                e.preventDefault();

                const file = $('#file-input')[0].files[0]

                if(!file){
                    alert('Please select a file');
                    return;
                }

                const formData = new FormData()
                formData.append('image', file)

                const jsonFormData ={
                    title: $("#title").val() || 'newBook',
                    author:$("#author1").val() || 'newAuthor',
                    author2:$("#author2").val() || '',
                    author3:$("#author3").val() || '',
                    published:$("#published").val(),
                    pages:500
                }
                formData.append('metadata', JSON.stringify(jsonFormData))

             try{
                const response = await fetch('http://localhost:3000/admin/newBook',{
                    method:"POST",
                    body: formData,
                    headers:{
                        'Content-Type': 'multipart/form-data'
                    }
                })
                if (!response.ok) {
                    throw new Error('Failed to add book');
                }

                alert('Book added successfully')

                document.getElementById("addBookForm").reset()

             }catch(error){
                 console.error(error)
                 alert('Failed to add a book')
             }
        })
        </script>
    </div>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </section>
    <section id="footer" class="footer-wrapper">
        <div class="navbar-bottom row-fluid">
            <div class="navbar-inner">
                <div class="container-fuild">
                    <div class="content_footer"> Made with<a href="http://programming.kr.ua/" class="heart"><i aria-hidden="true" class="fa fa-heart"></i></a>by HolaTeam</div>
                </div>
            </div>
        </div>
    </section>
    <div class="sweet-overlay" tabindex="-1" style="opacity: -0.02; display: none;"></div>
    <div class="sweet-alert hideSweetAlert" data-custom-class="" data-has-cancel-button="false" data-has-confirm-button="true" data-allow-outside-click="false" data-has-done-function="false" data-animation="pop" data-timer="null" style="display: none; margin-top: -169px; opacity: -0.03;">
        <div class="sa-icon sa-error" style="display: block;">
            <span class="sa-x-mark">
        <span class="sa-line sa-left"></span>
            <span class="sa-line sa-right"></span>
            </span>
        </div>
        <div class="sa-icon sa-warning" style="display: none;">
            <span class="sa-body"></span>
            <span class="sa-dot"></span>
        </div>
        <div class="sa-icon sa-info" style="display: none;"></div>
        <div class="sa-icon sa-success" style="display: none;">
            <span class="sa-line sa-tip"></span>
            <span class="sa-line sa-long"></span>

            <div class="sa-placeholder"></div>
            <div class="sa-fix"></div>
        </div>
        <div class="sa-icon sa-custom" style="display: none;"></div>
        <h2>Ооопс!</h2>
        <p style="display: block;">Ошибка error</p>
        <fieldset>
            <input type="text" tabindex="3" placeholder="">
            <div class="sa-input-error"></div>
        </fieldset>
        <div class="sa-error-container">
            <div class="icon">!</div>
            <p>Not valid!</p>
        </div>
    </div>

    

</body>

</html>